<div ng-controller="basicTableController">
  <div>
    <h2>当前选择:{{countrysideName}}</h2>
    <button ng-click="selectTable('table1')" class="btn btn-default" type="submit">表1</button>
    <button ng-click="selectTable('table2')" class="btn btn-default" type="submit">表2</button>
    <button ng-click="selectTable('table3')" class="btn btn-default" type="submit">表3</button>
    <button ng-click="selectTable('table4')" class="btn btn-default" type="submit">表4</button>
  </div>
  <div ng-include="'page/project/html/views/'+currentTable+'.html'"></div>
</div>