<div ng-controller="treeIndexController">
<ul>
    <li><a href="#" ng-click="isShowCity1(0)">上海</a></li>
    <div ng-if="citys1[0]">
    <ul>
		<li><a href="#" ng-click="isShowCity2(0)">杨浦</a></li>
            <div ng-if="citys2[0]">
            <ul>
                <li><a href="#" ng-click="isShowCity3(0)">同济大学</a></li>
                <div ng-if="citys3[0]">
                <ul>
                    <li><a href="#">软件</a></li>
                    <li><a href="#">计算机</a></li>
                </ul>
                </div>
            </ul>
            </div>
        <li><a href="#" ng-click="isShowCity2(1)">浦东</a></li>
            <div ng-if="citys2[1]">
            <ul>
                <li><a href="#" ng-click="isShowCity3(1)">xxx</a></li>
                <div ng-if="citys3[1]">
                <ul>
                    <li><a href="#">软件</a></li>
                    <li><a href="#">计算机</a></li>
                </ul>
                </div>
            </ul>
            </div>
	</ul>
    </div>

	<li><a href="#" ng-click="isShowCity1(1)">北京</a></li>
    <div ng-if="citys1[1]">
    <ul>
		<li><a href="#" >用户管理</a></li>
		<li><a href="#" >日志查看</a></li>
	</ul>
    </div>
	
</ul>
</div>


<!--<div ng-controller="treeIndexController">
<div class="col-md-4">
    <div class="tree well">
    <ul>
        <li>
            <span><i class="icon-folder-open"></i>上海</span> </a>
            <ul>
                <li>
                	<span><i class="icon-plus-sign"></i> 杨浦</span> </a>
                    <ul>
                        <li>
                	    <span><i class="icon-plus-sign"></i> 同济大学</span> </a>
                            <ul>
                            <li style="display:none;"><button ng-click="selectItem('图书馆')">图书馆</button></li>
                            <li style="display:none;"><button ng-click="selectItem('宿舍')">宿舍</button></li>
                            </ul>
                        </li>
						<li style="display:none;"><span><i class="icon-leaf"></i> xx大学</span> </a></li>
                        <li style="display:none;"><span><i class="icon-leaf"></i> yy大学</span> </a></li>
                    </ul>
                </li>
                <li>
                	<span><i class="icon-plus-sign"></i> 浦东</span> </a>
                    <ul>
											<li style="display:none;">
	                        <span><i class="icon-leaf"></i> Grand Child1</span> </a>
                        </li>
                        <li style="display:none;">
                        	<span><i class="icon-minus-sign"></i> Grand Child</span> </a>
                            <ul>
                                <li>
	                                <span><i class="icon-minus-sign"></i> Great Grand Child</span> </a>
		                            <ul>
		                                <li>
			                                <span><i class="icon-leaf"></i> Great great Grand Child</span> </a>
		                                </li>
		                                <li>
			                                <span><i class="icon-leaf"></i> Great great Grand Child</span> </a>
		                                </li>
		                             </ul>
                                </li>
                                <li>
	                                <span><i class="icon-leaf"></i> Great Grand Child</span> </a>
                                </li>
                                <li>
	                                <span><i class="icon-leaf"></i> Great Grand Child</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li style="display:none;">
	                        <span><i class="icon-leaf"></i> Grand Child</span> </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="icon-folder-open"></i> B市</span> </a>
            <ul>
                <li>
                	<span><i class="icon-leaf"></i> 嘉定</span> </a>
		        </li>
		    </ul>
        </li>
    </ul>
    </div>
</div>
</div>
    	<style>.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}</style>
	    		<script>$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});</script>-->
